[submodule "Libs/JWT"]
	path = Libs/JWT
	url = https://github.com/paolo-rossi/delphi-jose-jwt.git
[submodule "Libs/Neon"]
	path = Libs/Neon
	url = https://github.com/paolo-rossi/delphi-neon
[submodule "Libs/OpenAPI"]
	path = Libs/OpenAPI
	url = https://github.com/paolo-rossi/OpenAPI-Delphi
